<div class="hidden-block">

    <div id="download-application">
        <p class="title">Ваша жизнь <span class="another-colour">изменится через</span></p>
        <div class="timer-content">
            <div class="timer days">
              <strong class="timer-val hidden">03</strong>
              <p class="timer-title">Дней</p>
            </div>
            <div class="timer hours">
              <strong class="timer-val">16</strong>
              <p class="timer-title">Часов</p>
            </div>
            <div class="timer mins">
              <strong class="timer-val">52</strong>
              <p class="timer-title">Минут</p>
            </div>
            <div class="timer sec">
              <strong class="timer-val">36</strong>
              <p class="timer-title">Секунд</p>
            </div>
          </div>
        <p class="notification">
            Мы делаем для вас лучшее приложение! Оставьте свой емейл и мы оповестим вас как только приложение будет запущено, а также <span class="another-colour">подарим вам бесплатную неограниченную поддержку реального ментора</span>
        </p>
        <form action="https://echo.htmlacademy.ru" method="post" class="contact-form form">
            <div class="form_row">
                <p class="form_input">
                    <input type="email" name="mail" placeholder="Ваш E-mail" required>
                    <button type="submit">Стать первым!</button>
                </p>
            </div>
        </form>
    </div>
    <div id="call_success">
        <div class="call-success-wrap">
            <div class="call-success-title"><h2>Спасибо</h2></div>
            <div class="call-success-subtitle">
                <p>Как только приложение будет доступно на App Store и Google Play,<span class="another-colour">мы отправим вам письмо на E-mail!</span></p>
                <button class="button close" type="button">Хорошо</button>
           </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" class="contact-form">
            <div class="contact-form-title">
                <!-- Title -->
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span><!-- Отправить заявку  --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>