<section class="motivation-app">
    <div class="container ctext">
       <div class="about-motivation">
            <h3>Как You2 поможет тебе сохранить мотивацию на пути к цели</h3>
            <p>
            Приложение построено на эффективной системе инструментов, 
            но реальные подвиги совершать будешь ты сам
            </p>
       </div>
       <div class="wrapp-img">
        <img class="no-adaptive" src="images/phone-motivation.png" alt="phone">
        <img class="adaptive" src="images/phone-mot-adapt.png" alt="phone">
       </div>
        <ul class="list-motivation">
            <li>
                <div class="wrapper-item">
                    <img src="images/img1-motivation.png" alt="cap">                            
                    <h4>Личный лайф-коуч</h4>
                </div>
                <p>
                    Отвечая на вопросы профессионального лайф-коуча ты осознаешь свои возможности. Сможешь подобрать лучшие инструменты для достижения твоих целей. Составляй список ежедневных заданий и новых привычек, которые помогут тебе построить новую жизнь.   
                </p>
            </li>
            <li>
                <div class="wrapper-item">
                    <img src="images/img2-motivation.png" alt="palm">                 
                    <h4>Отпуск и больничный</h4>
                </div>
                <p>
                    Ты можешь взять “отпуск” или “больничный” до двух недель. Выполнение задач ставится на паузу, без начисления штрафов. Сохраняя прежние показатели в графике.
                </p>
            </li>
            <li>
                <div class="wrapper-item">
                    <img src="images/img3-motivation.png"  alt="Isle">                          
                    <h4>Остров личности</h4>
                </div>
                <p>
                    Игровое отображение прогресса через “Остров личности” вовлекает и мотивирует. Получай награды за выполнение заданий и с каждой наградой остров будет расти и развиваться. Если ты упорный - через год твой остров превратится в настоящую цивилизацию.
                </p>
            </li>
            <li>
                <div class="wrapper-item">
                    <img src="images/img4-motivation.png" alt="fine">
                    <h4>Система штрафов</h4>
                </div>
                <p>
                    Назначай сумму денежных штрафов за невыполненные задачи. Не откладывай свои задачи “на потом”, а завершай их несмотря ни на что - не идеально выполненное задание лучше, чем штраф. Лишаясь зацикленности на деталях и идеальности, ты идешь к цели, постепенно растворяя страх неудачи. 
                </p>
            </li>
            <li>
                <div class="wrapper-item">
                    <img src="images/img5-motivation.png" alt="growth-chart">
                    <h4>График твоего роста</h4>
                </div>
                <p>
                    Вдохновляйся историей успешного формирования новых привычек, отображенной с помощью инфографики. Анализируй свой прогресс в выполнении ежедневных заданий. Убедись в том, что небольших ежедневных шагов достаточно для создания новой личности.
                </p>
            </li>
            <li>
                <div class="wrapper-item">
                    <img src="images/img6-motivation.png" alt="bell">
                    <h4>Напоминания для задач</h4>
                </div>
                <p>
                    Больше не держишь в памяти все дневные задачи (направленные на саморазвитие), благодаря напоминаниям. Получаешь организованное мышление и снижение стресса.
                </p>
            </li>
        </ul>
</div>
    </div>
</section>