<section class="no-soap">
    <div class="container ctext">
        <div class="wrapp">
            <div class="wrapp-list">
                <h3>Тебе НЕ пойдет, если ты</h3>
                <ul class="no-soap-list">
                    <li><p>Не готов ежедневно совершать маленькие действия для повышения качества своей жизни</p></li>
                    <li><p>Привык откладывать свою жизнь на “потом” и не хочешь этого менять</p></li>
                    <li><p>Не нуждаешься в дополнительной мотивации при выполнении ежедневных рутинных задач</p></li>
                    <li><p>С легкостью формируешь новые привычки и внедряешь их в жизнь</p></li>
                    <li><p>Полностью доволен своими личностными качествами и не желаешь их улучшить</p></li>
                    <li><p>Не хочешь покидать зону комфорта ради воплощения своей мечты</p></li>
                </ul>
            </div>
            <div class="wrapp-img">
                <img src="images/relaxation.png" width="471" height="288" alt="relaxation">
            </div>
        </div>
    </div>
</section>