<section class="system-penalties ctext">
    <div class="container">
        <div class="wrapp-container">
            <div class="about-penalties">
                <h3>Почему система штрафов эффективна?</h3>
                <p>
                    В реальном мире мы теряем деньги каждый раз, когда пасуем перед внедрением полезных привычек. Пропустил пробежку - потерял деньги на счёт, который придётся оплатить у кардиолога, через 10-15 лет. Пропустил занятия английского языка - потерял еще больше денег на своей будущей зарплате, не получив повышение по должности.
                </p>
                <p>
                    Это приложение создано чтобы ты помнил, что влечёт за собой пропуск любого шага, направленного на улучшение любых параметров жизни. Чтобы ты прочувствовал последствия ещё до того, как они станут реально плачевными, зарядился мотивацией, и встал на путь, ведущий к успеху.
                </p>
            </div>
            <picture class="picture-img">
                <source srcset="images/ph-adapt.png" media="(max-width: 1152px)">
                <img src="images/phone-system.png" alt="phones">
            </picture>
        </div>
    </div>
</section>