<section class="you2">
    <div class="container ctext">
        <div class="wrapp-container">
            <div class="wrapp-img">
                <img src="images/phone-you2.png" alt="phone">
            </div>
            <div class="about-you2">
                <p>Начни сейчас делать то что можешь, чтобы вскоре жить так, как хочешь.</p>
                <div class="download-application">
                    <a data-fancybox data-src="#download-application" href="javascript:;" class="button-ios" href="#"><strong>скачать для</strong></a>
                    <a data-fancybox data-src="#download-application" href="javascript:;" class="button-android" href="#"><strong>скачать для</strong></a>
                </div>
            </div>  
        </div>          
    </div>
</section>